@{
    ViewData["Title"] = "Product Cache Page";
    Product myProduct = ViewBag.myProduct as Product;
}

<h1 class="display-4">@ViewBag.name</h1>
<h1 class="display-4">@ViewBag.surname</h1>
<h1 class="display-4">@myProduct.Name</h1>
