@{
    ViewData["Title"] = "Product Cache Page";
    Product myProduct = ViewBag.myProduct as Product;
}

<h1 class="display-4">@ViewBag.myDate</h1>
<h1 class="display-4">reson to delete: @ViewBag.callbackMyDateCache</h1>
<h1 class="display-4">@myProduct.Name</h1>
